h1{
    color: rgb(61, 141, 139); 
    text-align: center;
    line-height:2.5rem;
}

h2{
    color: rgb(61, 141, 139);  
}

header{
    font-style: italic;
}

.author-date {
    text-align: center;
}

body{
    line-height: 1.5;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    margin: .5rem 0;
    padding: .5rem;
    border: 1px hidden yellow;
}

em{
    font-weight: bold;
    font-style: normal;
    color: rgb(116, 195, 193);
}

body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


