/* general styliing */
* {
    box-sizing: border-box;
}

body {
    background-color: #F4FFFE;
}

h1, h2, p{
    font-family: "PT Sans Caption";
}

h1 {
    text-align: center;
}

/* nav bar */
nav {
    width: 100%;
    background-image: url(../img/nav-bg.png);
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    font-family: "PT Mono";
}

#brand-name {
    font-size: 20px;
    color: white;
}

nav button {
    color: white;
}


nav ul {
    padding: 0 14rem;
    font-size: 16px;
    margin-left: 6rem;;
}

nav li {
    margin: 0 1rem;
}

.sign-register{
    right: 2rem;
    font-family: "PT Serif Caption";
    font-size: 14px;
}

nav button {
    margin-left: 1rem;
}

#current-page {
    color:#3DACB4;
    
    text-decoration:underline;
    text-decoration-thickness: 0.1em;
}

.login {
    text-decoration: none;
    color: black;
}

#primary-bt {
    background-color: #3DACB4;
    border: none;
}

#register-bt:hover {
    color:rgb(226, 226, 226)
}


/* footer */

footer a {
    font-size: 2rem;
    color:#3DACB4
}

footer a:hover {
    color:black;
}


/* home page*/

/* header */
header {
    text-align: center;
    margin: 2rem;
    color:#247B82;
}

#home-welcome-container {
    border-color: #3DACB4;
    border-style: dashed;
    border-width: 2px;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: white;
}


/* main */
#home-mood-fill {
    text-align: right;
    margin: 3rem 0;
    color: #247B82;
}

#home-mood-fill button {
    margin: 1.5rem 0 1rem 0;
}

#home-mood-fill p {
padding-left: 4rem;
}

/* recommand music */
#music-block {
    background-color: white;
    width: 100px;
    height: 100px;
}



/* mood log page*/
.dot {
    height: 3.2rem;
    width: 3.2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.1rem;
    font-size: 0.6rem;
    line-height: 3rem;
    margin: 0.1rem;
}

.six-dots {
    min-width: 24rem;
}

.six-dots-container {
    min-width: 27rem;
}

#moodquestion {
    height: 17rem;
}

.enraged {
    background-color: #F04E48;
}

.dot:hover, .dot:active {
    box-shadow: rgba(63, 197, 186, 0.4) 5px 5px, rgba(36, 211, 220, 0.3) 10px 10px, rgba(46, 240, 240, 0.2) 15px 15px, rgba(46, 240, 233, 0.1) 20px 20px, rgba(46, 240, 221, 0.05) 25px 25px;
}

.vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1rem;
    margin-bottom: 0;
}

.fuming {
    background-color: #EB8075;
}

.repulse {
    background-color: #E8988E;
}

.stressed {
    background-color: #E55A90;
}

.angry {
    background-color: #E874A3;
}

.worried {
    background-color: #E8B0C2;
}

.shocked {
    background-color: #EAACC1;
}

.restless {
    background-color: #EBADC4;
}

.peeved {
    background-color: #E5C4CE;
}

.surprised {
    background-color: #E89C5D;
}

.energized {
    background-color: #E99C5C;
}

.joyful {
    background-color: #EAC192;
}

.motivated {
    background-color: #e7b64b;
}

.optimistic {
    background-color: #E4B063;
}

.hopeful {
    background-color: #e5d58e;
}

.ecstatic {
    background-color: #E9D05A;
}

.excited {
    background-color: #e4e47d;
}

.blissful {
    background-color: #e1dc84;
}

.optimistic {
    background-color: #E9D05A;
}

.despair {
    background-color: #74618D;
}
.miserable {
    background-color: #8973a6;
}
.disgusted {
    background-color: #9c8db0;
}
.bored {
    background-color: #5B6B83;
}
.lonely {
    background-color: #788aa5;
}
.excluded {
    background-color: #8d9eb7;
}
.drained {
    background-color: #7499AD;
}
.tired {
    background-color: #83a0b0;
}
.shamed {
    background-color: #9caeb8;
}
.calm {
    background-color: #85C663;
}
.satisfied {
    background-color: #95C982;
}

.at-ease {
    background-color: #BBD4A3;
}
.tranquil {
    background-color: #4EA48A;
}
.secured {
    background-color: #649f8d;
}
.content {
    background-color: #87a49c;
}
.serene {
    background-color: #3A7492;
}
.balanced {
    background-color: #5f8699;
}
.fullfilled {
    background-color: #758c97;
}



/* profile */
#profile.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: 0;
    padding: 1rem;
    text-align: left;
}


#profile {
    background-color: #eefffe;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}


#basic-info h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 2rem;
}

td img {
    height: 100px;
    width: 100px ;
}

#basic-info {
    margin-top: 0;
    margin-bottom: 1rem;
}

#profile h2 {
    text-align: center;
}

#basic-info img {
    height: 300px;
    width: 300px ;
    margin: 2rem;
}

#recent-music img {
    height: 200px;
    width: 200px ;
}

#survey {
    background-color: #eefffe;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#create-profile .container label {
    display: block;
    margin:20px 0 5px 0;
}


#create-profile select, input {
    border: 1px solid #777;
    border-radius: 2px;
    padding: 10px;
    display: block;
    width: 95%;
}

#create-profile button,
#profile button {
    background-color: white;
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

#create-profile .create-intro {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 960px;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
}

#front {
    text-align:center;
}
