nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    color: rgb(255, 190, 190);
    background-color: #2c96bf;
    padding: .5rem;
    padding-bottom: 1rem;
}

nav ul {
    margin: 0;
    padding: 0; 
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    color: black;
    text-decoration: none;
}